.text {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    color: #950952;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.intro {
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    color: #950952;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 27px;
}

.name { 
    text-align: left;
    color: #950952;
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 34px;
}