.background { 
  background-image: linear-gradient(90deg, rgba(216,216,246,1) 25%, rgba(234,197,216,1) 50%, rgba(255,120,79,1) 100%);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: static;
  background-attachment: fixed;
}

.box {
  background-color: white;
  border-radius: 15px;
  width: 1000px;
  height: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  top: 0px;
}

.name {
  color: #950952;
  margin-left: 275px;
  position: relative;
}

.title {
  position: relative;
  text-align: left;
  margin-left: 275px;
  margin-top: 25px;
  color: #950952;
}

.align {
  display: flex;
  flex-direction: row;
}