.resumeImg {
    width: 550px;
    height: auto;
    position: relative;
    border-style: solid;
    border-width: 8px;
    border-color: #950952;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 490px;
    margin-right: auto;
}

.downloadButton {
    margin-left: 715px;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: white;
    border: 2px solid #950952;
    border-radius: 5px;;
    color: #950952;
    padding: 10px 20px;
    font-size: 12pt;
    cursor: pointer;
}

.downloadButton:hover {
    background-color: #950952;
    color: white;
}

.resumeText {
    position: relative;
    margin-left: 275px;
    margin-top: 50px;
    color: #950952;
}
